.react-calendar {
  width: 100%;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.125em;
}

.highlight-completed {
  background: #4caf50 !important;
  color: white !important;
  border-radius: 50%;
}

.highlight-partial {
  background: #ff9800 !important;
  color: white !important;
  border-radius: 50%;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0 !important;
  color: #ccc !important;
  cursor: not-allowed !important;
}