.react-calendar {
  width: 100%;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.125em;
}

.highlight-completed {
  background: #4caf50 !important;
  color: white !important;
  border-radius: 10%;
}

.highlight-partial {
  background: #ff9800 !important;
  color: white !important;
  border-radius: 10%;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0 !important;
  color: #ccc !important;
  cursor: not-allowed !important;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dfe9eb00;
  border: 10px solid #FFFFFF00;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c200;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c200;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7fb69b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7fb69b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #7fb69b;
}